<div class="page-content">
	<div class="content-block">
		<p>This is another tab with his own navigation and pages.</p>
		<p><a href="tab2/single" class="navigate">Load new page in this tab</a></p>
	</div>
</div>