node_modules
test/temp
.sass-cache
src/app/bower_components
src/app/bundle.js
.tmp
src/test/bower_components/
app-mobile/facebook-plugin
.DS_Store
npm-debug.log
app-mobile/www
app-mobile/platforms/ios/build/
app-mobile/platforms/ios/www/
app-mobile/platforms/ios/cordova/console.log
*.xcuserdatad
app-mobile/platforms/android/assets/www
app-mobile/platforms/android/bin
app-mobile/platforms/android/.gradle
app-mobile/platforms/android/gen
app-mobile/platforms/android/local.properties
app-mobile/platforms/android/ant-build
app-mobile/platforms/android/ant-gen
app-mobile/platforms/android/CordovaLib/ant-build
app-mobile/platforms/android/CordovaLib/ant-gen
app-mobile/platforms/android/CordovaLib/bin
app-mobile/platforms/android/CordovaLib/gen
app-mobile/platforms/android/CordovaLib/local.properties
app-mobile/platforms/wp8/bin
app-mobile/platforms/wp8/obj
app-mobile/platforms/wp8/www
app-mobile/platforms/wp8/.staging
app-mobile/platforms/wp8/*.suo
app-mobile/platforms/wp8/*.csproj.user
app-mobile/resources/signing
*.sublime-project
*.sublime-workspace