<div class="views tabs toolbar-fixed">
	<div class="view tab view-main active">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left"></div>
				<div class="center sliding">Hello</div>
				<div class="right"></div>
			</div>
		</div>

		<div class="pages navbar-through"></div>
	</div>

	<div class="view tab view-tab2">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left"></div>
				<div class="center sliding">Tab 2</div>
				<div class="right"></div>
			</div>
		</div>

		<div class="pages navbar-through"></div>
	</div>

	<div class="toolbar tabbar">
	    <div class="toolbar-inner">
	        <a href="" class="tab-link active" data-view=".view-main">
	            <span class="tabbar-label">Home</span>
	        </a>
	        <a href="tab2" class="tab-link" data-view=".view-tab2">
	            <span class="tabbar-label">Tab 2</span>
	        </a>
	    </div>
	</div>
</div>