<div class="views tabs">
	<div class="view tab view-main active">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left"></div>
				<div class="center sliding">Hello</div>
				<div class="right"></div>
			</div>
		</div>

		<div class="pages navbar-through"></div>
	</div>
</div>